{
   "extends": ["react-app", "react-app/jest", "prettier"],
   "plugins": ["prettier"],
   "rules": {
      "react/jsx-curly-brace-presence": ["warn", { "props": "never", "children": "never" }],
      "func-style": ["error", "expression"],
      "prettier/prettier": [
         "warn",
         {
            "endOfLine": "auto"
         }
      ]
   }
}
