name: "pr"

on:
  push:
    branches:
      - "**"
      - "!main"
  workflow_dispatch:

jobs:
  lint-fe:
    name: Lint Frontend
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile
      - run: pnpm typecheck
      - run: pnpm lint:ci
  knip:
    name: Knip Frontend
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile
      - run: pnpm typecheck
      - run: pnpm knip

  integration:
    name: Integration tests
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile

      - name: Run frontend tests
        run: |
          pnpm test:ci

  playwright:
    runs-on: ubuntu-latest
    env:
      AUTH0_DOMAIN: "gataersamla.eu.auth0.com"
      AUTH0_CLIENT_ID: ${{secrets.AUTH0_CLIENT_ID}}
      AUTH0_CLIENT_SECRET: ${{secrets.AUTH0_CLIENT_SECRET}}
      AUTH0_AUDIENCE: "https://gataersamla.no"
      AUTH0_CALLBACK: "http://localhost:3000/callback"
      SENTRY_DSN: "xxx"
      AUTH0_COOKIE_SECRET: "s3cret"
      APP_DATABASE_URL: "./sqlite.db"
      DEFAULT_CONTINGENT_SIZE: 600
      CONTINGENT_BANK: 000.0123.1230.123
      MAKE_FIRST_USER_ADMIN: true
      CLOUDINARY_API_SECRET: xxx
      CLOUDINARY_API_KEY: xxx
      CLOUDINARY_NAME: xxx
      SENDGRID_API_KEY: xxx
      PWA_PUBLIC_KEY: xxx
      PWA_PRIVATE_KEY: xxx
      IMAGE_DIR: "/data"

    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - run: pnpm i --frozen-lockfile

      - name: Build frontend
        run: pnpm build

      - name: Run migrations
        run: |
          pnpm db:migrate

      - name: Install playwright
        run: |
          pnpm exec playwright install --with-deps chromium

      - name: Run E2E tests
        env:
          # Playwright environments
          PLAYWRIGHT_ADMIN_USERNAME: ${{secrets.E2E_PLAYWRIGHT_ADMIN_USERNAME}}
          PLAYWRIGHT_ADMIN_PASSWORD: ${{secrets.E2E_PLAYWRIGHT_ADMIN_PASSWORD}}
          PLAYWRIGHT_MEMBER_USERNAME: ${{secrets.E2E_PLAYWRIGHT_MEMBER_USERNAME}}
          PLAYWRIGHT_MEMBER_PASSWORD: ${{secrets.E2E_PLAYWRIGHT_MEMBER_PASSWORD}}
          PLAYWRIGHT_NONMEMBER_USERNAME: ${{secrets.E2E_PLAYWRIGHT_NONMEMBER_USERNAME}}
          PLAYWRIGHT_NONMEMBER_PASSWORD: ${{secrets.E2E_PLAYWRIGHT_NONMEMBER_PASSWORD}}
          PLAYWRIGHT_BASE_URL: http://localhost:3000
          NODE_ENV: production
          # DEBUG: pw:webserver
          # DEBUG: pw:api
        run: |
          pnpm exec playwright test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-report
          path: playwright-report
